@font-face {
    font-family: Lato_regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato_black;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Lato_italic;
    src: url(../fonts/Lato/Lato-Italic.ttf);
}

@font-face {
    font-family: Lato_light;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family: Lato_black;
}

.texto_regular{
    font-family: Lato_regular;
}

.texto_black{
    font-family: Lato_black;
}

.texto_italic{
    font-family: Lato_italic;
}

.texto_light{
    font-family: Lato_light;
}

.mayuscula{
    text-transform: uppercase;
}

.separacion{
    letter-spacing: 3px;
}

body{
    /* font-family: Lato_regular; */
    background-color: #ffffff;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a{
    color: #129DDB;
}

a:hover{
    color: #129DDB;
}


/* TAMAÑOS DE LETRA */
.font-size-7px{
    font-size: 7px;
}

.font-size-9px{
    font-size: 9px;
}

.font-size-10px{
    font-size: 10px;
}

.font-size-11px{
    font-size: 11px;
}

.font-size-15px{
    font-size: 15px;
}

.font-size-16px{
    font-size: 16px;
}

.font-size-17xp{
    font-size: 17px;
}

.font-size-18px{
    font-size: 18px;
}

.font-size-20px{
    font-size: 20px;
}

.font-size-22px{
    font-size: 22px;
}

.font-size-30px{
    font-size: 30px;
}

.font-size-34px{
    font-size: 40px;
}


/* COLORES DE TIPOGRAFÍA Y FONDOS */
.tipografia_blanca{
    color: #ffffff;
}

.fondo_blanco{
    background-color: #ffffff;
}

.tipografia_naranja{
    color: #F8A431;
}

.fondo_naranja{
    background-color: #F8A431;
}

.tipografia_azul_claro{
    background-color: #5CB0F4;
}

.fondo_azul_claro{
    background-color: #5CB0F4;
}

.fondo_azul_oscuro{
    background-color: #0A2540;
}

.fondo_azul_oscuro_claro{
    background-color: #223A52;
}

.tipografia_gris_oscuro{
    color: #707070;
}

.tipografia_gris_claro{
    color: rgba(255, 255, 255, .4);
}

.fondo_gris_claro{
    background-color: #FAFAFA;
}

.fondo_gris{
    background-color: #E0E0E0;
}


/* HOME */
.logo{
    width: 25%;
}

.width_50{
    width: 100%;
}

.border_radius_header1{
    border-radius: 10px 10px 0px 0px;
}

.border_radius_header2{
    border-radius:0px 0px 10px 10px ;
}

.form1{
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
}

.width_95{
    width: 95%;
}

.height_440{
    height: 440px;
}

.line_height_1{
    line-height: 32px;
}

.line_height_3{
    line-height: 35px;
}

.height_60{
    height: 60px;
}

#input_1_3{
    width: 100%;
    font-size: 16px;
    color: #ACACAC;
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    padding: .5rem;
}

#input_1_5{
    width: 100%;
    font-size: 16px;
    color: #ACACAC;
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    padding: .5rem;
}

#input_1_6{
    width: 100%;
    font-size: 16px;
    color: #ACACAC;
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    padding: .5rem;
}

#input_1_8{
    width: 100%;
    font-size: 16px;
    height: 65px;
    color: #ACACAC;
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    padding: .5rem;
}

#gform_submit_button_1{
    height: 50px;
    background-color: #F8A431;
    border: 0px;
    border-radius: 7px 7px 7px 7px;
    color: #ffffff;
    width: 100%;
    font-size: 16px;
}

textarea {
    resize: none;
}

label{
    display: none;
}

.gfield_label {
    display: none;
}

#label_1_9_1{
    display: block;
    font-size: 11px;
    color: #ACACAC;
    padding-left: .5rem;
}

.gchoice {
    display: flex;
}

#choice_1_9_1{
    width: 5%;
}

.fondo1{
    background-image: url(../assets/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.margin_top_17{
    margin-top: -16%;
}

.margin_bottom_47{
    margin-bottom: 47px;
}

.div_1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boton_asistencia{
    width: 325px;
    height: 50px;
    background-color: #F8A431;
    border: 0px;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 1rem;
    color: #ffffff;
}

.cards_img{
    width: 114px;
    height: 109px;
}

.comentarios{
    display: flex;
    justify-content: space-between;
}

.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.swipe-scroll{
    display: inline-flex;
    justify-content: start;
}

.cards_opiniones{
    background-color: #ffffff;
    border: 2px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
}

.centrar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* FOOTER */
.cards_footer{
    border: 0px;
    border-radius: 5px 5px 5px 5px;
}

.margin_top_5{
    margin-top: 18%;
}

.margin_right_2rem{
    margin-right: 2rem;
}

.centrar_footer{
    display: flex;
    justify-content: space-between;       
}

#input_2_1{
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #0A2540;
    font-size: 16px;
    color: #ACACAC;
}

#input_2_3{
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #0A2540;
    font-size: 16px;
    color: #ACACAC;
}

#input_2_4{
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #0A2540;
    font-size: 16px;
    color: #ACACAC;
}

#input_2_5{
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #0A2540;
    font-size: 16px;
    color: #ACACAC;
    height: 70px;
}

#label_2_6_1{
    color: #ACACAC;
    font-size: 11px;
    margin-left: .5rem;
}

#gform_submit_button_2{
    padding: 1.5rem;
    color: #ffffff;
    background-color: #5CB0F4;
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 0;
}

#main-menu{
    display: flex;
    flex-direction: row;
}

#menu-item-31{
    width: 8%;
}

#menu-item-33{
    width: 14%;
}

#menu-item-32{
    width: 13%;
}

#main-menu li a{
    color: #ffffff;
}

.enlaces_footer{
    text-decoration: none;
}


/* IPAD */
@media (max-width: 992px){
    .logo{
        width: 50%;
    }

    .centrar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_center{
        text-align: center;
    }

    .centrar2{
        display: flex;
        justify-content: center;
    }

    .centrar_footer{
        flex-direction: row;
    }

    .margin_right_2rem{
        margin-right: 2rem;
    }

    span{
        padding:.5rem;
    }

    .width_100{
        width: 90%;
    }

    .margin_top_5 {
        margin-top: 32.5%;
    }

    .margin_left1_5{
        margin-left: -11.60rem;
    }

    .margin_right_2rem{
        margin-right: 2rem;
    }

    #menu-item-31{
        width: 14%;
    }
    
    #menu-item-33{
        width: 25%;
    }
    
    #menu-item-32{
        width: 25%;
    }
}


/* IPHONE */
@media (max-width: 450px){
    .logo{
        width: 75%;
    }

    .div_1{
        margin-top: 1rem;
        width: 100%;
        align-items: flex-start;
        margin-left: .1rem;
    }

    .height_60 {
        height: 140px;
    }

    .centrar_footer{
        flex-direction: column;
    }

    .margin_right_2rem{
        margin-right: 0rem;
    }

    .width_100{
        width: 100%;
    }

    .margin_left1_5{
        margin-left: 0rem;
    }

    .margin_top_1rem{
        margin-top: 1rem;
    }

    .boton_asistencia {
        width: 350px;
    }

    .margen_comentario{
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .comentarios{
        display: block;
    }

    .cards_opiniones {
        width: 250px;
        margin-bottom: .5rem;
    }

    .footer_cards{
        width: 303px;
        margin-left: -55px;
    }

    .tamanio_100{
        width: 100%;
    }

    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-item-31{
        width: 100%;
        text-align: center;
    }
    
    #menu-item-33{
        width: 100%;
        text-align: center;
    }
    
    #menu-item-32{
        width: 100%;
        text-align: center;
    }
}